
.room {
	display: flex;
	flex-direction: column;
	flex-shrink: 0.5;
}
.room__header {
	text-align: center;
	margin-top: 30px;
}


.room__type {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 0.2em;
	margin: 1em;
	margin-left: 4em;
}
